[Unit]
Description=NoIP dyndns updater for %I
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/noipctl
ExecStart=/usr/sbin/noipctl.py --config %i.cfg daemon

[Install]
WantedBy=multi-user.target
